@page "/"
@page "/index.html"

<PageTitle>Blazor</PageTitle>

<div style="display: flex">
    <div class="flex-column" style="justify-content: space-between; align-items: stretch">
        <div class="flex-row" style="justify-content: space-between; align-items: stretch">
            <Blazor.Components.ToolPanel />
        </div>
         <div class="flex-row" style="justify-content: space-between; align-items: stretch">
          <Blazor.Components.GameViewer />
         </div>
        <div class="flex-row" style="justify-content: space-between; align-items: stretch">
            <Blazor.Components.ToolPanel />
     </div>
    </div>
</div>

